<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
	<!-- wp:pattern {"slug":"woo-boost-dark/banner"} /-->
	<!-- wp:pattern {"slug":"woo-boost-dark/latest-product"} /-->
	<!-- wp:pattern {"slug":"woo-boost-dark/ads"} /-->
	<!-- wp:pattern {"slug":"woo-boost-dark/connect"} /-->
	<!-- wp:pattern {"slug":"woo-boost-dark/blog-post"} /-->
	<!-- wp:pattern {"slug":"woo-boost-dark/services"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
